# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
# VS Source Control
.vs
# Testes
TestResults
# Compilados e Logs
bin
obj
Log
# Pacotes 
packages
# As seguintes extensoes
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

